html, body {
  height: 100dvh;
  background-color: aqua;
}

body {
  display: grid;
  align-items: center;
  padding: 2rem;
}

.game-box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(5px, 50px));
  grid-template-rows: repeat(10, minmax(5px, 50px));
  width: minmax(150px, 30vw);
  aspect-ratio: 1/1;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkblue;
  border: solid 1px white;
  
}

@media only screen and (max-width: 768px) {
  .game-box {
    grid-template-columns: auto;
    font-size: .8rem;
  }
  
  
}